<div class="row">
  <div class="col-md-6">
    <!-- <div class="alert alert-danger" *ngIf="error">
      <span>{{error}}</span>
    </div> -->
    <app-alert [message]="error" *ngIf="error"></app-alert>
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form [formGroup]="loginGroup" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">Email</label>
        <input formControlName="email" type="text" id="email" class="form-control">
        <small class="text-muted" *ngIf="loginGroup.get('email').invalid && loginGroup.get('email').touched && !loginGroup.get('email').hasError('email') ">Please enter email</small>
        <small class="text-muted" *ngIf="loginGroup.get('email').hasError('email') && loginGroup.get('email').touched">Please enter valid email</small> 
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input formControlName="password" type="password" id="password" class="form-control">
      </div>
      <div>
        <button class="btn btn-primary" (click)="onSubmit(loginGroup)" type="submit" [disabled]="!loginGroup.valid">{{ isLoginMode ? 'Login' : 'Signup'}}</button> | 
        <button class="btn btn-primary" (click)="onSwitchMode()" type="button">Switch to {{ isLoginMode ? 'Signup' : 'Login'}}</button>
      </div>
    </form>
  </div>
</div>