<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" style="max-height: 300px" class="img-responsive" />
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>{{recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" (click)="sendToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
        <li><a class="dropdown-item" style="cursor: pointer;" routerLink="/recipes/{{recipe.id}}/edit"> Edit Recipe</a></li>
        <li><a class="dropdown-item" style="cursor: pointer;" (click)="deleteRecipe()"> Delete Receipe </a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    Description :{{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class ="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>